**Этот набор данных взят из KaggleСсылки на внешний сайт. и содержит показатели сотрудников, такие как уровень удовлетворенности, количество завершенных проектов, время, проведенное в компании, и количество рекламных акций. В гипотетическом сценарии мы могли бы использовать эти данные, чтобы определить, имеет ли сотрудник право на премию. Этот набор данных имеет четыре переменные, каждая из которых использует разные числовые масштабы и единицы измерения. Если мы хотим использовать этот набор данных для модели нейронной сети, нам нужно стандартизировать эти переменные, в противном случае вполне вероятно, что "Satisfaction_Level" (который колеблется от 0 до 1) будет недооценен по сравнению с "Time_Spent" (который колеблется примерно от 50 до 4800 часов). Давайте начнем с добавления следующего кода в блокнот:**

In [1]:
# Import our dependencies
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Read in our dataset
hr_df = pd.read_csv("hr_dataset.csv")
hr_df.head()

   Satisfaction_Level  Num_Projects  Time_Spent  Num_Promotions
0                0.30             1         253               2
1                0.25             1         200               0
2                0.90             4        2880               5
3                0.65             3        1450               3
4                0.50             2         785               2

**Чтобы применить нашу стандартизацию, нам нужно создать экземпляр StandardScaler, добавив и выполнив следующий код:**

In [2]:
# Create the StandardScaler instance
scaler = StandardScaler()

**Как только у нас появится экземпляр StandardScaler, нам нужно будет соответствовать входным данным, добавив и запустив следующую строку кода:**

In [3]:
# Fit the StandardScaler
scaler.fit(hr_df)

StandardScaler()

**After our StandardScaler instance is fitted with the numerical data, we can transform and standardize the dataset using the following code:**

In [4]:
# Scale the data
scaled_data = scaler.transform(hr_df)

**Наконец, как только мы получим преобразованные данные в экземпляре *StandardScaler*, мы должны экспортировать преобразованные данные в Pandas DataFrame. Опять же, мы должны добавить и запустить следующий код в наши блокноты:**

In [5]:
# Create a DataFrame with the scaled data
transformed_scaled_data = pd.DataFrame(scaled_data, columns=hr_df.columns)
transformed_scaled_data.head()

   Satisfaction_Level  Num_Projects  Time_Spent  Num_Promotions
0           -1.303615     -1.162476   -1.049481       -0.558656
1           -1.512945     -1.162476   -1.094603       -1.804887
2            1.208335      0.860233    1.187080        1.310692
3            0.161689      0.185996   -0.030385        0.064460
4           -0.466299     -0.488240   -0.596549       -0.558656

**Глядя на результаты нашего преобразования, все переменные теперь стандартизированы со средним значением 0 и стандартным отклонением 1. Теперь данные готовы к передаче в нашу модель нейронной сети.**